.article {
    background-color: hsl(0, 0%, 98%);
    padding: 0 25px;
    margin: 50px 0;
}

.article .headline {
    color: hsl(233, 26%, 24%);
    font-size: 35px;
    text-align: center;
    padding: 40px 0;
}

.article-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-container a {
    text-decoration: none;
    color: hsl(233, 26%, 24%);
}

.article-container a:hover {
    color: green;
}

/* mobile */
@media (max-width: 640px) {

}

/* tablet */
@media (min-width: 641px) and (max-width: 1007px) {
    .article {
        padding: 0 100px;
    }
    .article-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .article-container .card {
        flex: 1 0 calc(50% - 20px);
    }
}

/* desktop */
@media (min-width: 1008px) {
    .article {
        margin: 50px 0;
        padding: 60px 80px;
    }
    .article .headline {
        padding: 0;
        margin-bottom: 40px;
    }
    .article .headline {
        text-align: start;
    }
    .article-container {
        flex-direction: row;
    }
}