.footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.footer-socmed {
    display: flex;
    gap: 15px;
}

.footer-socmed svg {
    cursor: pointer;
}

.footer-socmed svg:hover {
    fill: hsl(136, 65%, 51%);;
}

.logo-socmed, .btn-credit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-navs ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer-navs ul li {
    list-style: none;
    margin: 12px 0;
}

.footer-navs ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-navs ul li a:hover {
    color: hsl(136, 65%, 51%);
}

.footer-btn {
    background: linear-gradient(90deg, rgba(49,211,92,1) 11%, rgba(43,183,218,1) 89%);
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
}

.footer-btn:hover {
    opacity: 0.8;
}

.footer-credit {
    color: rgba(220, 220, 220, 0.925);
    font-size: 16px;
}

/* mobile */
@media (max-width: 640px) {

}

/* tablet */
@media (min-width: 641px) and (max-width: 1007px) {

}

/* desktop */
@media (min-width: 1008px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 80px;
    }
    .footer-navs ul {
        /* padding-right: 100px; */
        display: flex;
        flex-wrap: wrap;
    }
    .footer-navs ul li {
        margin: 5px 0;
        text-align: start;
        flex: 1 0 calc(40% - 10px);
    }
    .logo-socmed {
        align-items: flex-start;
        gap: 40px;
    }
    .btn-credit {
        align-items: flex-end;
    }
}